<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Carrito</title>
</head>
<body>
    <h1>Detalles del Carrito</h1>

    {{#if cart}}
        <h2>ID del Carrito: {{cart.id}}</h2>
        <p>Productos en el carrito:</p>
        <ul>
            {{#each cart.products}}
                <li>
                    {{this.product.title}} - Cantidad: {{this.quantity}}
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>Carrito no encontrado.</p>
    {{/if}}
</body>
</html>
