<h2>Olvidaste tu contraseña</h2>
<form method="post" action="/api/sessions/forgot-password">
    <input type="email" placeholder="correo" name="email"/>
    <br/><br/>
    <button type="submit">Reestableces contraseña</button>

</form>
<hr>
<a href="/">
    <button>Inicio</button>
</a>