<h2>Reiniciar el password</h2>
<p>Ingrse la nueva contraseña</p>
<form method="post" action="/api/sessions/reset-password?token={{token}}">
    <input type="email" placeholder="correo" name="email"/>
    <br/><br/>
    <input type="password" placeholder="contraseña" name="newPassword"/>
    <br/><br/>
    <button type="submit">Reestableces contraseña</button>
</form>
<hr>
<a href="/">
    <button>inicio</button>
</a>